<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.salonappnew">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".newact"></activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".drawer"></activity>
        <activity android:name=".salonHome"></activity>
        <activity android:name=".serchprod" />
        <activity android:name=".serchnearsal"></activity>
        <activity android:name=".serch_district"></activity>
        <activity android:name=".selectsalon"></activity>
        <activity android:name=".salonchair"></activity>
        <activity android:name=".registeras"></activity>
        <activity android:name=".profile"></activity>
        <activity android:name=".offers"></activity>
        <activity android:name=".notification"></activity>
        <activity android:name=".news"></activity>
        <activity android:name=".newlogin"></activity>
        <activity android:name=".manageproduct" />
        <activity android:name=".login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home">

        </activity>
        <activity android:name=".editsalondetails">

        </activity>
        <activity android:name=".editcustomer" />
        <activity android:name=".displayappoi" />
        <activity android:name=".category" />
        <activity android:name=".addproduct" />
        <activity android:name=".addcustomer" />
        <activity android:name=".addcompany" />
        <activity android:name=".addapoint" />
        <activity android:name=".about" />
    </application>

</manifest>